body {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  min-width: 400px;
  background: #EBEBEB;
  margin: 0;
}
main {
  margin: 0 auto;
  min-width: 400px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
h2 {
  background: white;
  color: #373737;
  font-weight: 700;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: row;
}
nav {
  border-top: 5px solid #ff9800;
}
nav span {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
  padding: 10px;
  text-align: center;
  flex: 1 1;
}
nav span:hover {
  background: #F2F2F2 !important;
}
nav span > a {
  color: #373737 !important;
  text-decoration: none;
}
nav span:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.active {
  font-weight: bold;
}
#settingsContent, #home {
  margin: 15px 10px;
}

#settings div, #home {
  padding: 5px;
}
#settings div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input.setting[type="number"] {
  width: 10em;
}
.settingTitle {
  font-weight: bold;
  text-decoration: underline;
}
.settingBlock a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #b6b6b6;
  display: inline-block;
  padding: 0 0.5em;
}



footer {
  background: white;
}
footer #links {
  display: flex;
  flex-direction: row;
}
footer span {
  flex: 0 1;
  text-align: center;
}
footer span:not(:first-child)::before {
  content: '|';
}
footer span a {
  font-size: 12px;
  color: #373737;
  padding: 5px;
}
footer hr {
  margin: 0;
  border: .45px solid rgba(0, 0, 0, 0.5);
}
